@keyframes enter {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
.api_proxy-iframe-view {
  position: fixed;
  top: 0;
  right: 0;
  /* 最大值 */
  z-index: 2147483648;
  width: 400px;
  height: 100%;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
  animation: enter 0.5s ease;
}
